body {
  background-color: rgb(36, 175, 231);

}

/* test124
 */
.App {
  text-align: center;
}

.trail-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(233, 255, 251);
  box-shadow: rgba(0, 0, 0, 0.27) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  width: 300px;
  height: max-content;
  padding: 10px;
  margin: auto;
}

.trail-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 90%;
  margin: 20px auto;
}

.trail-card {
  width: 220px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.27) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(233, 255, 251);
  margin-bottom: 5rem;
}

.delete {
  background-color: rgb(249, 130, 133);
  font-weight: 700;
  color: white;
}

